<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1">
      <title>%s</title>
      <link href="styles/styles.css" rel = "stylesheet" title="Default">
      <link rel="stylesheet" href="../styles/styles.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="preconnect" href="https://cinni.net/fonts/basiic.ttf">
      <link rel="preconnect" href="https://cinni.net/fonts/000webfont.ttf">
    </head>
